{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
    {% for object in object_list %}
    <div class="col-4">
    
        <div class="card" style="width: 18rem;">
            <img src="{{ object.tumbnail.url }}" class="card-img-top" alt="Post's image">
            <div class="card-body">
            <h5 class="card-title">
            <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
            </h5>
                <!--truncatechars: limit of characters to display-->
                <p class="card-text">{{ object.content|truncatechars:40 }}</p>
                <hr>
                <p>
                    <span><i class="fa fa-comments ml-2"></i> {{ object.get_comment_count }} </span>
                    <span><i class="fa fa-eye ml-2"></i> {{ object.get_view_count }} </span>
                    <span><i class="fa fa-thumbs-up ml-2"></i> {{ object.get_like_count }} </span>
                </p>
                <p class="card-text">
                    Posted {{ object.publish_date|timesince }} ago
                </p>
            </div>
        </div>
    </a>
    </div>
    {% endfor %}
    </div>
</div
{% endblock content %}